<% if(page.type === "tags"){ %>
	<div class="tag-cloud" id="page-tags">
		<div class="tag-cloud-title">
		    <%= _p('counter.tag_cloud', site.tags.length) %>
		</div>
		<div class="tag-cloud-tags">
			<%- tagcloud(site.tags,{min_font: 16, max_font: 30, amount: 200, color: true, start_color: '#fff', end_color: '#258fb8'}) %>
		</div>
	</div>
<% } else if(page.type === "categories"){ %>
	<div class="category-all-page" id="page-category">
		<div class="category-all-title">
			<%= _p('counter.categories', site.categories.length) %>
		</div>
		<div class="category-all">
		  <%- list_categories(site.categories) %>
		</div>
	</div>
<% } else { %>
<%- partial('_partial/article', {post: page, index: false}) %>
<% } %>